@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');








.options {
    width: 85vw;
    margin: auto;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 4rem;
}

.option {
    /* border: 1px solid blue; */
    margin: 1rem 00.5rem 0.1rem 1rem;
}

.option h4 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1.5rem 0 1.5rem 2rem;

}


.option h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0 1.5rem 2rem;
}
.option h2 span{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    color: rgba(20, 36, 41, 0.7);

}
.option ul li{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    color: rgba(20, 36, 41, 0.7);
    margin: 1rem 0 0rem 1.5rem;

}
.option button{
    margin: 2rem 3rem 2rem 2.5rem;
    width: 9vw;
    height: 7vh;
    background: transparent;
    border: 2px solid blue;
    border-radius: 0.3rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    color: blue;
}
.heading h3{
    color: black;
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    margin: auto;
    /* border: 1px solid blue; */
    width: fit-content;

    
}
.heading{
/* border: 1px solid red; */
width: fit-content;
height: fit-content;
margin:4rem auto 0 auto;
}
.heading div{
    width: 40px;
    height: 4px;
    background-color: blue;
    margin: auto;
    border-radius: 3px;
}
@media screen and (max-width:900px){
    .options{
        display: flex;
        flex-direction: column;
    }
    .option button{
        width: 15vw;
    }
}
@media screen and (max-width:550px){
    .option button{
        width: 45vw;
    }
}